 <div>
 	<div>
 		<iframe width="100%" height="300" [src]="video.url | safe"></iframe>
 	</div>
 	<form>
 		<div *ngIf="editTitle" class="form-group">
 			<input type="input" class="form-control" name="title" required placeholder="title" [(ngModel)]="video.title" />
 		</div>
 		<h3 *ngIf="!editTitle" (click)="onTitleClick()">{{ video.title }}</h3>
 		<div class="form-group">
 			<input type="input" class="form-control" name="url" required placeholder="url" [(ngModel)]="video.url" />
 		</div>
 		<div class="form-group">
 			<textarea class="form-control" rows="5" name="desc" [(ngModel)]="video.description">
 			</textarea>
 		</div>
 		<button class="btn btn-primary" (click)="updateVideo()">Update</button>
 		<button class="btn btn-danger" (click)="deleteVideo()">Delete</button>
 	</form>
 </div>