<div class="row">
	<div class="col-sm-9">

		<div *ngIf="!hideNewVideo">
			<h2>New Video</h2>
			<form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well" class="form-horizontal">
				<div class="form-group">
					<label>Title</label>
					<input type="text" name="form-control" required name="title" ngModel />
				</div>
				<div class="form-group">
					<label>URL</label>
					<input type="text" name="form-control" required name="url" ngModel />
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea type="text" name="form-control" name="description" ngModel ></textarea>
				</div>
				<button type="submit" class="btn btn-success">Save</button>
			</form>
		</div>

		<video-detail 
			(updateVideoEvent)="onUpdateVideoEvent($event)" 
			(deleteVideoEvent)="onDeleteVideoEvent($event)" 
			*ngIf="selectedVideo && hideNewVideo" 
			[video]="selectedVideo">
		</video-detail>
	</div>
	<div class="col-sm-3">
		<button (click)="newVideo()" style="margin-bottom: 2px;" class="btn btn-success btn-block">+ New Video</button>
		<video-list (SelectVideo)="onSelectVideo($event)" [videos]="videos"></video-list>
	</div>
</div>
